
@{
    ViewBag.Title = "Internal Server error";
    @model HandleErrorInfo
}

<h1>An Error Occurred</h1>
<p>An internal server error was encountered at: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}

<h3>Error Details</h3>
<p>Controller: @Model.ControllerName</p>
<p>Action: @Model.ActionName</p>
<p>Stack Trace: </p>]

@* This section shows the stack trace in an easier to read format. *@
@foreach (string s in Model.Exception.StackTrace.Split(new[] {" at"}, StringSplitOptions.RemoveEmptyEntries))
{
    if (!string.IsNullOrWhiteSpace(s))
    {
        <code>at @s</code>
        <br/>
    }
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it.
        So add padding in case we're short. *@
    @(new string(' ', 512))